:root {
    --light: #F8F9FA;
    --dark: rgb(33, 37, 41);
    --dark-opaque: rgba(33, 37, 41, 0.4);
    --grey: rgb(124, 124, 124);
    --grey-light: rgb(141, 141, 141);
    --text-shadow: rgb(100, 100, 100)
}

body {
    /* NOTE Custom Font Usage */
    font-family: 'Bebas Neue', cursive;
}

.nav-rules {
    font-size: x-large;
    text-shadow: 1px 1px var(--text-shadow);
}

.nav-btn-home {
    background-color: var(--grey-light);
}

.nav-btn-sm {
    border-left: 4px solid var(--light);
    border-right: 4px solid var(--light);
    background-color: var(--grey);

}

.bg-image {
    min-height: 80vh;
    background-size: cover;
    background-position: center;
    background-image: url('https://images.unsplash.com/photo-1486299267070-83823f5448dd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
}

.h-form {
    
}

.h-text {
    background-color: var(--dark);
    background-color: var(--dark-opaque);

    text-align: center;

}

.card-trans {
    padding: 2px 16px;
    border: 3px solid var(--dark);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    transform: translateY(50%);
}
.card-trans:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.img-3 {
    min-height: 20vh;
    
    background-size: cover;
    align-self: center;
}

.card-rev {
    padding: 2px 16px;
    border: 3px solid var(--dark);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card-rev:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-rev-2 {
    padding: 2px 16px;
    border: 3px solid var(--dark);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card-rev-2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


@media screen and (max-width: 767px) {

    .h-text {
        display: none;
    }

    .card-trans {
        transform: translateY(0%);
    }

}